* {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

.home {
  background: #8c3ef1;
  background: -moz-linear-gradient(-45deg, #8c3ef1 0%, #4327fa 100%) fixed;
  background: -webkit-linear-gradient(-45deg, #8c3ef1 0%, #4327fa 100%) fixed;
}

.browse {
  background: #39dec0;
  background: -moz-linear-gradient(-45deg, #39dec0 0%, #08df64 100%) fixed;
  background: -webkit-linear-gradient(-45deg, #39dec0 0%, #08df64 100%) fixed;
}

.profile {
  background: #4363e6;
  background: -moz-linear-gradient(-45deg, #4363e6 0%, #11dae9 100%) fixed;
  background: -webkit-linear-gradient(-45deg, #4363e6 0%, #11dae9 100%) fixed;
}

.navbar-custom {
  background-color: rgba(255, 255, 255, .95);
  font-weight: 400;
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, .21);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #7F7F7F;
}
/* change the color of hovered links */
.navbar-custom .nav-item:hover .nav-link {
  color: #815AFF;
}
/* change the color of active links */
.navbar-custom .nav-item.active .nav-link {
  color: #6434FF;
}

.page-title {
  font-size: 4em;
  font-weight: bold;
  font-style: italic;
  color: white;
}

.page-title-div {
  padding: 40px;
  margin-top: 70px;
}

#guitar-image {
  width: 1000px;
  position: absolute;
  top: 143px;
  left: 188px;
  transform: rotate(14deg);
}

#profile-image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .75);
  padding: 3px;
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, .21);
  margin-left: 190px;
}

.my-section {
  width: 80%;
  display: inline-block;
  margin: 30px auto 30px auto;
}

.profile-info {
  margin-top: 0;
}

#profile-text {
  margin-left: 50px;
  display: inline-block;
  transform: translateY(30px);
}

#name {
  font-weight: bold;
  color: #0CE4E7;
  font-size: 18px;
}

#email {
  color: white;
  font-size: 16px;
}

/* song */
.song {
  max-width: 850px;
  font-size: 25px;
  font-weight: bold;
  color: #3A11BE;
  background-color: rgba(255, 255, 255, .75);
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, .21);
  padding: 20px 30px 14px 30px;
  margin: 0 auto 20px auto;
  border-radius: 3px;

  -webkit-transform: perspective(.1px) translateZ(0);
  transform: perspective(.1px) translateZ(0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.song:hover, .song:focus, .song:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.song .fa-arrow-alt-circle-down {
  float: right;
  font-size: 32px;
  color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.song .fa-arrow-alt-circle-down:hover {
  color: #3A11BE;
}

.song .fa-check-circle {
  float: right;
  font-size: 32px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.info-card {
  max-width: 335px;
  background-color: rgba(255, 255, 255, .25);
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, .21);
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  text-align: left;

  -webkit-transform: perspective(.1px) translateZ(0);
  transform: perspective(.1px) translateZ(0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.info-card:hover, .info-card:focus, .info-card:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.info-card .title {
  font-weight: bold;
  color: #0CE4E7;
  font-size: 18px;
  margin-bottom: 3px;
}

.info-card .body {
  font-family: 'Cabin';
  font-weight: 300;
  text-transform: none;
  color: white;
  font-size: 14px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.hide-element {
  display: none;
}

#downloads-label {
  color: white;
  font-weight: bold;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}

#downloads-label:hover, #downloads-label:focus, #downloads-label:active {
  box-shadow: none;
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
}

#device-id {
  margin-top: 20px;
  font-size: 12px;
  color: white;
}

#id-form {
  font-family: 'Cabin';
  margin-top: 20px;
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 3px;
  font-size: 12px;
  color: white;
  height: 30px;
  width: 200px;
  padding: 8px;
}

#id-form::placeholder {
  font-family: 'Cabin';
  font-size: 12px;
  color: white;
}

#device-id-form > input[type=submit] {
  font-size: 12px;
  color: white;
  height: 30px;
  background-color: #7F7F7F;
  border-radius: 3px;
  border-width: 0;
  padding: 8px;
}

#device-id-form > input[type=submit]:hover {
	background-color: #3A11BE;
}
#device-id-form > input[type=submit]:active {
	position:relative;
	top:1px;
}

}
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 130px;
	height: 50px;
	background: rgba(255, 255, 255, .6);
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, .21);
}

input:checked + label:after {
	left: calc(100%);
	transform: translateX(-100%);
}

label:active:after {
	width: 90px;
}

/* things to change to make it responsive */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }
  .page-title {
    font-size: 2em;
  }
  .page-title-div {
    padding: 20px;
    margin-top: 60px;
  }
  .song {
    max-width: 90%;
    font-size: 14px;
    background-color: rgba(255, 255, 255, .75);
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .21);
    padding: 10px 15px 7px 15px;
    margin: 0 auto 10px auto;
  }
  .song .fa-arrow-alt-circle-down {
    font-size: 18px;
  }
  .song .fa-check-circle {
    font-size: 18px;
  }
  .navbar-light .navbar-toggler {
    border-color: rgba(0,0,0, 0);
  }
  label {
  	width: 80px;
  	height: 40px;
  }
  label:after {
    width: 40px;
    height: 40px;
  }
  label:active:after {
  	width: 60px;
  }
  #profile-image{
    width: 75px;
    height: 75px;
    padding: 3px;
    margin-left: 5px;
  }
  #profile-text {
    margin-left: 20px;
  }
  #name {
    font-size: 14px;
  }
  #email {
    font-size: 12px;
  }
  /* #guitar-image {
    width: 500px;
    top: 150px;
    left: 17px;
  } */
  #id-form {
    font-family: 'Cabin';
    margin-top: 20px;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 3px;
    font-size: 10px;
    color: white;
    height: 30px;
    width: 130px;
    padding: 8px;
  }

  #id-form::placeholder {
    font-family: 'Cabin';
    font-size: 10px;
    color: white;
  }

  #device-id-form > input[type=submit] {
    font-size: 10px;
    color: white;
    height: 30px;
    background-color: #7F7F7F;
    border-radius: 3px;
    border-width: 0;
    padding: 8px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .page-title {
    font-size: 2em;
  }
  .page-title-div {
    padding: 20px;
    margin-top: 60px;
  }
  .song {
    max-width: 80%;
    font-size: 14px;
    background-color: rgba(255, 255, 255, .75);
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .21);
    padding: 10px 15px 7px 15px;
    margin: 0 auto 10px auto;
  }
  .song .fa-arrow-alt-circle-down {
    font-size: 18px;
  }
  .song .fa-check-circle {
    font-size: 18px;
  }
  .navbar-light .navbar-toggler {
    border-color: rgba(0,0,0, 0);
  }
  label {
  	width: 80px;
  	height: 40px;
  }
  label:after {
    width: 40px;
    height: 40px;
  }
  label:active:after {
  	width: 60px;
  }
  #profile-image {
    width: 75px;
    height: 75px;
    padding: 3px;
    margin-left: 60px;
  }
  #profile-text {
    margin-left: 30px;
  }
  #name {
    font-size: 14px;
  }
  #email {
    font-size: 12px;
  }
  /* #guitar-image {
    width: 800px;
    top: 98px;
    left: 120px;
  } */
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 992px) {
  .page-title {
    font-size: 2em;
  }
  .page-title-div {
    padding: 20px;
    margin-top: 60px;
  }
  .song {
    max-width: 90%;
    font-size: 25px;
    background-color: rgba(255, 255, 255, .75);
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .21);
    /* padding: 10px 15px 7px 15px; */
    /* margin: 0 auto 10px auto; */
  }
  #profile-image{
    width: 100px;
    height: 100px;
    padding: 3px;
    margin-left: 100px;
  }
  #profile-text {
    margin-left: 40px;
  }
  /* #guitar-image {
    width: 800px;
    top: 98px;
    left: 120px;
  } */
}
